# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# Logs
*.log

# Test output
notebooks/crawling.ipynb
tests/
app/modules/crawl.py
.env
loyola-chatbot.git/
replacements.txt